.github-colors {
    background-color: #2ea451;
    border-color: #2ea451;
}

.conan-colors {
    background-color: #557697;
    border-color: #557697;
}

ul.emoji-checked-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul.emoji-checked-list li::before {
    content: "✅ ";
}

.navbar-toggler-icon {
    font-size: 0.8em;
}
